<div class="row footer">
	<div class="small-12 columns no-pad">
		<img src="{{root}}assets/img/530-logo.jpg" id="footer-logo">
	</div>
	<div class="medium-8 small-12 columns no-pad">
		<p class="bold">13850 Cerritos Coporate Drive Unit E Cerritos, CA 90703<br>Office | 562.321.9840&nbsp;&nbsp;Fax | 562.321.9840</p>
	</div>
	<div class="medium-4 small-12 columns no-pad">
		<p class="bold">Join our mailing list</p>
		<form>
			<input type="text" placeholder="YOUR EMAIL ADDRESS" />
			<button type="submit">Sign-up</button>
		</form>
	</div>
</div>
<div class="row footer-social">
	<div class="small-12 columns no-pad">
		<ul class="social-links">
			<li><a href=""><span class="fa fa-instagram"></span></a></li>
			<li><a href=""><span class="fa fa-twitter"></span></a></li>
			<li><a href=""><span class="fa fa-facebook"></span></a></li>
			<li><a href=""><span class="fa fa-vimeo"></span></a></li>
			<li><a href=""><span class="fa fa-linkedin"></span></a></li>
		</ul>
		<p class="copyright">Copyright 2015 530MediaLab</p>
	</div>
</div>
