<div class="row header">
  <div class="large-12 columns">
    <div class="title-bar" data-responsive-toggle="530-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar" id="530-menu">
      <div class="top-bar-left">
      	<a href="{{root}}/index.html"><img src="assets/img/530-logo.jpg"></a>
        <ul class="dropdown menu" data-dropdown-menu>
          <li><a href="#">Who We Are</a></li>
          <li><a href="#">What We Do</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Connect</a></li>
          <li><a href="{{root}}/filter-test.html">Filter Test</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
      	<ul class="menu">
					<li><a href=""><span class="fa fa-instagram"></span></a></li>
					<li><a href=""><span class="fa fa-twitter"></span></a></li>
					<li><a href=""><span class="fa fa-facebook"></span></a></li>
					<li><a href=""><span class="fa fa-vimeo"></span></a></li>
					<li><a href=""><span class="fa fa-linkedin"></span></a></li>
				</ul>
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
    </div>
  </div>
</div> 
